.App {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding-top: 50px;
}

select {
  margin: 5px;
  outline: none;
}

h1 {
  margin: 20px;
  text-decoration: underline;
}

